// Example of using CSS grid so you can see the output when broswerList in package.json specifies IE support. Grid is not supported in IE 11, so this will be transpiled to
.wrapper {
  /* autoprefixer grid: autoplace */
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
